In [9]:
import pandas as pd
import numpy as np

data = [[2, 4, 6, 8,10, 12, 14, 16, 18],
       [3, 6, 9, 12, 15, 18, 21, 24, 27],
       [4, 8,12,16, 20, 24, 28, 32, 36],
       [5, 10, 15, 20, 25, 30, 35, 40, 45]]
data

df = pd.DataFrame(data,
                  columns=["1", "2", "3", "4", "5", "6", "7", "8", "9"],
                  index = ["2단", "3단", "4단", "5단"])
df

    1   2   3   4   5   6   7   8   9
2단  2   4   6   8  10  12  14  16  18
3단  3   6   9  12  15  18  21  24  27
4단  4   8  12  16  20  24  28  32  36
5단  5  10  15  20  25  30  35  40  45

In [12]:
#합
df.sum(axis=1)

2단    2
3단    3
4단    4
5단    5
dtype: int64

In [13]:
#평균
df.mean(axis=1)

2단    10.0
3단    15.0
4단    20.0
5단    25.0
dtype: float64

In [14]:
#최대값
df.max(axis=1)

2단    18
3단    27
4단    36
5단    45
dtype: int64

In [15]:
#최솟값
df.min(axis=1)

2단    2
3단    3
4단    4
5단    5
dtype: int64